doctype html 
html(lang='en')
  head
    style 
      include ../Styles/home-style.css
     script 
      include ../Scripts/scripts.js   
    title Dibs Game 
  body 
    h1.heading Dibs Game 
    ul 
      li 
        button.open-button#open-button(onclick="menuopen()") Menu
      li 
        a.hide#tutorial(href="https://dibs-game.herokuapp.com/car_module/tutorial/") Tutorial
      li
        a.hide#garage(href="https://dibs-game.herokuapp.com/car_module/garage/") Garage
      li 
       a.hide( onclick="logout()" href="https://dibs-game.herokuapp.com/users/logout") Logout
      li 
        button.hide.close-button#close-button( onclick="menuclose()") Close
    div
      form.input_box(action="https://dibs-game.herokuapp.com/car_module/" method="POST")
        select.select(name="cars_dropdown"
          id="cars_dropdown"
          onchange="populate_model()")
        select.select( name="model_dropdown"
          id="model_dropdown"
          onchange="populate_year()")
        select.select(name="year_dropdown" id="year_dropdown")
        input.select-submit(name="submit" type="submit")