doctype html 
html(lang='en')
  head 
    style
      include ../Styles/tutorial.css
    title Dibs Game 
  body 
    h1 How To Play 
    ul 
      li 
        br
        p Step 1: Find a cool car 
        br
      li 
        p Step 2: Use the three dropdows to add your car to your garage. The years only go from 1992 to 2020 and only cars sold in 'Murica 
        br
      li 
        p Step 3: If needed you can delete a car by clicking it twice. If you accidentally click a car you can deselect it by clicking another car or refreshing the page.
        br
      li 
        p Step 4: Find more awesome cars! 