* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-image: url("../public/images/blackmercedes.jpg");
    /* background-image: url("/images/background.jpg"); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-y: 70%;
    
  }
  h1 {
    display: block;
    font-size: 850%;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-weight: unset;
    font-style: italic;
    -webkit-text-stroke: 1px rgb(135, 65, 246);
  }
  ul {
    list-style-type: none;
    position: absolute;
    top: 0%;
  }
  .login-page-register {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .full-login-form {
    top: 300px;
    position: relative;
    text-align: center;
  }
  .login-form {
    border-width: 2px;
    border-color: rgb(73, 9, 224);
    padding: 50px;
    position: static;
    width: 50%;
    height: 50px;
  }
  .register-login-link {
    display: inline-block;
    position: relative;
    top: 350px;
    font-size: 500%;
    color: rgb(254, 254, 255);
    -webkit-text-stroke: 0.5px rgb(0, 0, 0);
  }
  
  .center {
    text-align: center;
  }
  .login-submit {
    width: 35%;
    font-size: 45px;
    border-color: rgb(73, 9, 224);
    color: rgb(0, 0, 0);
    -webkit-text-stroke: 0.5px rgb(60, 0, 255);
    font-weight: bold;
  }
  